// 命名：【属性】-【属性值】-【级别】
@color-blue-l2: rgba(25, 104, 250, 0.2);
@color-blue-l3: rgba(25, 104, 250, 0.3);

@button-color: rgba(25, 104, 250, 1);
@color-sd-grey: #999999;

/* =============== navigation Light ================= */
// 字体颜色
@nav-font-color:#1968FA;
@nav-version-font-color: #999999;

// height
@nav-height: 60px;

// 背景颜色
@bg-color:#FFFFFF;
@ink-bar-bg-color: #1968FA;

/* =============== treeView Light ================= */
// touch-ripple bg
@ripple-bg-color-selected: rgba(35, 110, 255, 0.2); // 
@ripple-bg-color-hover: rgba(35, 110, 255, 0.08);

// 标签 bg
@secondary-text-bg-color: rgba(25, 104, 250, 0.3);
@extra-bg-color: rgba(25, 104, 250, 0.3);

// treeview front bg
@bg-color-primary-text: #1F1F1F; // 组件名称颜色
@bg-color-primary-text-selected: #FF6500; // 选中再 hover 后的颜色

// expend icon color
@expand-icon-color: rgba(154, 154, 154, 1);

/* =============== 卡片 Light ================= */
// info
@collapse-bg-color: #fff;
@title-font-color: rgba(25, 104, 250, 1);

/* =============== JSON Light ================= */
@json-font-color-yellow: #FF933A;
@json-font-color-red: #ff5050;
@json-font-color-blue: #1968FA;

/* =============== 函数 ================= */
@func-bg-color: rgba(25, 104, 250, .1);;
@func-font-color: rgba(25, 104, 250, 1);
@tag-color: #FF933A;
@target-color: #FF933A;

/* ----------------------------------------------- */
// 颜色
// @color-sd-blue: rgba(25, 104, 250, 1);
// @color-sd-black: rgba(51,51,51,1);
// @color-sd-grey: rgba(140,140,140,1);


// // 字体颜色
// @font-color: @color-sd-blue;
// @font-search-color: rgba(25, 104, 250, 0.5);

// // 背景颜色
// @bg-color: rgba(25, 104, 250, 0.3);




