.sm-tree-view
    padding: 8px 0
    background: #fff
    position: relative

    &.compact
        padding: 0
        line-height: normal

    .sm-tree-view-filter-bar
        padding: 0 10px

        .sm-text-field
            margin: 0
            min-height: 40px
            &.has-icon
                box-sizing: border-box
                hr
                    left: -56px
            .sm-text-field-icon
                top: 4px
            .sm-text-field-content
                position: relative

        &.compact
            padding: 5px

            .sm-text-field
                zoom: 0.85
                min-height: auto
                margin: 0

                .sm-text-field-content
                    padding: 0

    .sm-text-field-hint
        width: 100%
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

.sm-tree-view-loading-toast
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    font-size: 150%
    width: 80%
    text-align: center
    overflow: hidden
.sm-tree-view-item-wrapper
    position: relative
